/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --green-opacity: rgba(38, 76, 89, 0.2);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --white: #fff;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --text-color-out-of-stock: rgb(89, 38, 38);
    --text-color-in-stock: rgb(172, 198, 201);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

header {
    background-color: var(--green);
    color: var(--text-color-light);
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0.95;
}

header label {
    padding: 1em 2em 1em 0;
}

label input,
label select {
    padding: 0.3em;
    margin: 0 0 0 1em;
}

input[type="checkbox"],
select {
    cursor: pointer;
}

main {
    padding: 114px 0 0;
    animation: fadeIn 0.4s;
    background-color: var(--light-green);
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------- grid container styling ---------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    gap: 1em;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-container > article {
    text-align: center;
    padding: 2em 1em;
    background-color: var(--light-grey);
}

.grid-container > article:hover {
    box-shadow: 0 8px 16px 0 var(--green-opacity);
}

.grid-container > article img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}
